@model _4YolMarket.Models.Stock
@{
    ViewBag.Title = "Filter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">

</head>

<div class="container">



    <div class="modal-title" style="font-size:25px;">Satışa yararsız məhsulların gerialınması</div>

    <form method="post" id="myform" action="@Url.Action("AddReturns","Return",new {StoId=Model.Id })" enctype="multipart/form-data" role="form">
        <div class="card-body" style="font-size:17px; font-weight:700;">

            <div class="d-flex row">
                <div class="form-group col-md-6">


                    <label for="exampleInputEmail1">Məhsulun Adı</label>
                    <input type="text" name="Mehsul" value="@Model.Product.Ad" style="height:40px; font-size:16px;" class="form-control">


                </div>
                <div class="form-group col-md-6">


                    <label for="exampleInputEmail1">Mayadəyəri(Gəliş qiyməti)</label>
                    <input type="text" value="@ViewBag.qiymet" style="height:40px; font-size:16px;" class="form-control">


                </div>

            </div>
            <div class="d-flex row">
                <div class="form-group col-md-6">
                    <label for="Say">Say/Çəki</label>
                    <input type="text" name="Say" id="Say" style="height:40px; font-size:16px;" class="form-control Say" placeholder="Say/Çəki daxilet"  title="Mütləq doldurulmalıdır!">
                </div>
                <div class="form-group col-md-6">
                    <label for="Description">Geri qaytarma səbəbi</label>
                    <input type="text" id="Description" name="Description" style="height:40px; font-size:16px;" class="form-control Description"  title="Mütləq doldurulmalıdır!" placeholder="Hansı Səbəbə Görə Geriqayratılır">
                </div>
            </div>
            <div class="d-flex row">
                <div class="form-group col-md-6">
                    <label for="Customer">Məhsulu qaytaran müşdərinin Adı,Soyadı</label>
                    <input type="text" id="Customer" name="Customer" style="height:40px; font-size:16px;" class="form-control Customer" placeholder="Hansı Səbəbə Görə Geriqayratılır"  title="Mütləq doldurulmalıdır!">

                </div>

            </div>

        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Təsdiqlə</button>
        </div>
    </form>


</div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

<script>
    // just for the demos, avoids form submit
    jQuery.validator.setDefaults({
        /*debug: true,*/
        success: "valid"
    });
    $("#myform").validate({
        rules: {
            Say: {
                required: true
            },
             Description: {
                required: true
            },
            Customer: {
                required: true
            }
        }
    });
</script>
