
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2 style="color:red; text-align:center;">Xəta</h2>
    <h3>Ödəniş etməy üçün  KART HESABINDA  kifayətqədər məbləğ yoxdur</h3>
</div>

