
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2 style="color:red; text-align:center;" >Xəta</h2>
    <h3>KASSADAN KART HESABINA köçürmək isdədiyiniz məbləğ kassada kifayətqədər deyil</h3>
</div>


